@import '/src/mixins';

.wrapper {
    @include main_wrapper;
}

.header {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    align-items: end;
    margin-bottom: 36px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}