@mixin main_wrapper {
    padding: 24px;
    background-color: var(--white);
    border-radius: 8px;
}

@mixin main_title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 40px;
    color: var(--dark-gray);
}

@mixin buttons {
    border-radius: 8px;
    border: none;
    background-color: var(--pink);
    transition: .3s;
    color: var(--dark-pink);
    padding: 10px 30px;
    font-size: 14px;

    &:hover {
        cursor: pointer;
        background-color: var(--dark-pink);
        color: var(--white);
    }
}

@mixin textarea {
    width: 100%;
    min-height: 120px;
    border-radius: 8px;
    border: 1px solid var(--pink);
    padding: 10px;
    outline: none;
    font-size: 16px;
    resize: none;
    background-color: var(--light-gray);

    &:focus-visible {
        border: 1px solid var(--dark-pink);
    }
}